*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body{
    
    background: rgb(219, 223, 221);
}

header{
    height: 60px;
    width: 100%;
    background-color:red;  
    display: flex;
    justify-content: center;
    align-items: center;    
}

header h1{
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    font-size: 38px;
    text-shadow: 5px 5px 5px #000000;
}
#ventana{
    background: rgb(219, 223, 221);
}

form{
    background-color: rgb(170, 163, 163);
    border-radius: 3px;
    color: rgb(19, 18, 18);
    font-size: 18px;
    padding: 10px;
    margin: 4px;
    width: 350px;
}



.diseño{
    border: solid 2px  #009688;
    padding: 9px;

    
}

#boton{
    padding: 10px 30px;
background-color: #009688;
cursor: pointer;
border-radius: 10px;
font-size: 18px;
color: #ffffff;
display: inline-block;
margin:15px 0;
}

#contenidos{
    height: 40px;
    background-color:green  ;
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-top:10px;
    margin-left:40px;
    margin-right: 40px;
    border:1px #000000 dashed;
    border-radius: 54px 54px 54px 54px;
}

#contenidos h1{

    text-align: center;
    color: floralwhite;
    font-weight: bold;
    font-size: 35px;
    
}


#preguntas{
    height: 350px;
   
    background-color: rgb(222, 223, 222);    
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-top:10px;
    margin-left:50px;
    margin-right: 50px;
    border: 2px outset #000000;
    border-radius: 54px 54px 54px 54px;
}

 footer {
    height: 40px;
    background-color:#009688;
    display: flex; }

    footer p {
      height: 30px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #ffffff;
      font-weight: bold; }
